.display-4 {
    text-align: center;
    font-size: 80px;
}

.lead {
    text-align: center;
    font-size: 25px;
}

.box {
    border-style: solid;
    border-width: thin;
    border-color: #eb72ca; 
}

form, h4 {
    padding: 10px;
}

h4, .titleName {
    background-color: #eb72ca;
}

span {
    color: #eb72ca;
}


